<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Metadata Microservice</title>
  <meta name="description" content="A microservice that provides users with information about the total size of their files.">
  <meta name="author" content="electrostaticfleece">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<h1>Metadata Microservice</h1>

<p>This is a simple service that will tell you the size of your file. To use this service, simply select a file to upload. This is a project created as part of Free Code Camp's curriculum.</p>

<form id="form" enctype="multipart/form-data">
  <input type="file" name="file" required />
  <input type="submit" value="upload" />
</form>

<!-- jQuery v. 3.0.0 -->
<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script src="/javascripts/fileAnalysis.js"></script>
</body>

</html>